.contacts {
  min-height: 621px;
  background-image: url(..//img/contacts/contacts__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.contacts__header {
  max-width: 513px;
  margin: 0 auto 50px;
}

.contacts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 17px;
}

.contacts__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-white-80);
}

.contacts__form {
  max-width: 423px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px;
}

.contacts__form-inputs {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-bottom: 50px;
}

.contacts__input {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: 1.38235px solid var(--color-white);
  border-radius: 50px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-white-50);
}

.contacts__btn {
  width: 218px;
  height: 48px;
  background: var(--color-blue);
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
}

.contacts__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.contacts__text-link {
  color: var(--color-darkblue);
  border-bottom: 1px solid var(--color-darkblue);
}

@media (max-width: 1100px) {
  .contacts__form-inputs {
    margin-bottom: 30px;
  }
}

@media (max-width: 680px) {
  .contacts__title {
    font-size: 30px;
  }
  
  .contacts__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 17px;
  }
}

@media (max-width: 430px) {
  .contacts__form-inputs {
    margin-bottom: 45px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  
  .contacts__subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 35px;
  }

  .contacts__text {
    font-size: 11px;
    line-height: 13px;
  }

  .contacts__btn {
    width: 174px;
    height: 38px;
    margin-bottom: 30px;
  }
}
