.footer {
  min-height: 158px;
  background-color: var(--color-darkgrey);
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__logo {
  display: flex;
  gap: 20px;
}

.footer__logo-icon svg>ellipse {
  width: 68px;
  height: 68px;
  fill: var(--color-blue);
}

.footer__logo-text {
  max-width: 127px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__signature {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__tel-number {
  font-style: normal;
  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  text-align: center;
}

.footer__tel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-bottom: 1px solid var(--color-white);
}    