@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
  position: relative;
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-white-1: #F9F9F9;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-86: rgba(255, 255, 255, 0.86);
  --color-white-80: rgba(255, 255, 255, 0.8);;
  --color-white-75: rgba(255, 255, 255, 0.75);;
  --color-grey: #383A4C;
  --color-darkgrey: #2F324B;
  --color-darkgrey-1: #2A2C3F;
  --color-grey-85: rgba(47, 50, 75, 0.85);
  --color-blue: #15A9CB;
  --color-lightblue: #23C7EC;
  --color-blue-30: rgba(21, 169, 203, 0.3);
  --color-darkblue: #4A76A8;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
}


img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}