.header {
  min-height: 732px;
  
  background-image: url(..//img/header/header__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: var(--color-grey-85);
  
  padding-top: 40px;
  margin-bottom: 70px;
}


.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.header__logo svg>ellipse {
  width: 68px;
  height: 68px;
  fill: var(--color-blue);
}

.header__tel-number {
  font-style: normal;
  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  text-align: center;
}

.header__tel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-bottom: 1px solid var(--color-white-50);
}

.header__content {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 35px;
  color: var(--color-white-86);
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 90px;
  color: var(--color-white-75);
}

.header__btn {
  width: 200px;
  height: 48px;
  background-color: var(--color-blue);
  box-shadow: 0px 4px 25px var(--color-blue-30);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
}
