.header {
  position: relative;
  min-height: 732px;
  width: 100%;
  background-image: url(..//img/header/header__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-grey-85);
  z-index: 2;
}

.header__inner {
  position: relative;
  z-index: 3;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 117px;
}

.header__logo svg>ellipse {
  width: 68px;
  height: 68px;
  fill: var(--color-blue);
}

.header__tel {
  max-width: 208px;
}

.header__tel-number {
  font-style: normal;
  font-weight: 400;
  font-size: 23.85px;
  line-height: 45px;
  text-align: center;
}

.header__tel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-white-50);
}

.header__tel-small {
  display: none;
}

.header__content {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 31px;
  color: var(--color-white-86);
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 90px;
  color: var(--color-white-75);
}

.header__text-small {
  display: none;
}

.header__btn {
  width: 200px;
  height: 48px;
  background-color: var(--color-blue);
  box-shadow: 0px 4px 25px var(--color-blue-30);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
}

@media (max-width: 1080px) {
  .header {
    min-height: 528px;
    padding-top: 26px;
  }

  .header__logo {
    width: 60px;
    height: 60px;
  }

  .header__tel {
    max-width: 186px;
  }
 
  .header__tel-number {
    font-size: 21px;
    line-height: 37px;
  }

  .header__tel-text {
    font-size: 13px;
    line-height: 15px;
  }

  .header__menu {
    margin-bottom: 70px;
  }

  .header__content {
    max-width: 780px;
  }

  .header__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27px;
  }

  .header__text {
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 57px;
  }

  .header__btn {
    margin-bottom: 60px;
  }
}


@media (max-width: 560px) {
  .header {
    min-height: 470px;
    padding-top: 26px;
  }

  .header__logo {
    width: 40px;
    height: 40px;
  }

  .header__tel {
    max-width: 146px;
  }
 
  .header__tel-number {
    font-size: 16px;
    line-height: 18px;
  }

  .header__tel-text {
    font-size: 10px;
    line-height: 12px;
  }

  .header__content {
    max-width: 580px;
  }

  .header__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 27px;
  }

  .header__text {
    display: none;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
  }

  .header__text-small {
    display: inline-block;
    width: 290px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 90px;
    color: var(--color-white-75);
    margin-bottom: 54px;
  }
}


@media (max-width: 320px) {
  .container {
    padding: 0 15px;
  }

  .header {
    min-height: 441px;
    padding-top: 15px;
    background-position: -60px 0px;
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }

  .header__tel {
    width: 24px;
    height: 24px;
  }
 
  .header__tel-number {
    display: none;
  }

  .header__tel-text {
    display: none;
  }

  .header__tel-small {
    display: block;
    width: 24px;
    height: 24px;
  }

  .header__menu {
    margin-bottom: 65px;
  }

  .header__content {
    max-width: 290px;
  }

  .header__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 26px;
  }

  .header__text {
    display: none;
  }

  .header__text-small {
    display: inline-block;
    width: 290px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 90px;
    color: var(--color-white-75);
    margin-bottom: 53px;
  }

  .header__btn {
    width: 160px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 65px;
  }
}

