.main {
  background-color: var(--color-white-1);
}

.main__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 61px;
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: var(--color-grey);
  margin-bottom: 26px;
}

.main__subtitle {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 35px;
  color: var(--color-grey);
  overflow: hidden;
}

.main__subtitle span{
   position: relative;
}

.main__subtitle span:before {
  display: block;
    width: 43px;
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--color-grey);
    top: 50%;
    right: 87px;
}

.main__subtitle span:after {
  display: block;
  width: 43px;
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--color-grey);
  top: 50%;
  left: 87px; 
}

.main__text {
  max-width: 724px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--color-grey);
}

.main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.main__item {
  max-width: 196px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main__item-circle {
  width: 122px;
  height: 122px;
  border: 1px solid var(--color-lightblue);
  border-radius: 50%;
  background-color: var(--color-lightblue);
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 127px;
  text-align: center;
  margin: 0 auto;
}

.main__item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--color-grey);
}

@media (max-width: 1080px) {
  .main {
    min-height: 565px;
  }

  .main__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }

  .main__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 33px;
  }

  .main__subtitle span:before {
      width: 40px;
      right: 80px;
  }
  
  .main__subtitle span:after {
    width: 40px;
    left: 80px; 
  }

  .main__text {
    max-width: 666px;
    font-size: 16px;
    line-height: 23px;
  }

  .main__item {
    max-width: 180px;
    gap: 26px;
  }
  
  .main__item-circle {
    width: 104px;
    height: 104px;
    font-size: 52px;
    line-height: 104px;
  }
  
  .main__item-text {
    font-size: 18px;
    line-height: 25px;
}
}




@media (max-width: 940px) {
  .main__list {
    max-width: 500px;
    margin: 0 auto;
}
}


@media (max-width: 460px) {
  .main__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .main__subtitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 26px;
  }

  .main__subtitle span:before {
      width: 20px;
      right: 80px;
  }
  
  .main__subtitle span:after {
    width: 20px;
    left: 80px; 
  }

  .main__text {
    max-width: 350px;
    font-size: 16px;
    line-height: 22px;
  }

}


@media (max-width: 350px) {
  .main__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  .main__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }

  .main__subtitle span:before {
      width: 20px;
      right: 80px;
  }
  
  .main__subtitle span:after {
    width: 20px;
    left: 80px; 
  }

  .main__text {
    max-width: 290px;
    font-size: 12px;
    line-height: 17px;
  }

  .main__block-text {
    margin-bottom: 40px;
  }

  .main__item {
    max-width: 180px;
    gap: 26px;
  }
  
  .main__item-circle {
    width: 104px;
    height: 104px;
    font-size: 52px;
    line-height: 104px;
  }
  
  .main__item-text {
    font-size: 18px;
    line-height: 25px;
}

.main__list {
  grid-template: 40px;
  margin-bottom: 60px;
}
}
  